h1 {
    margin-top: 40px;
    color: #000;
    }

table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
    }

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    }

th {
    background-color: rgb(76, 178, 100);
    }

tr:nth-child(even) {
    background-color: #f9f9f9;
    }

th:nth-child(3),
td:nth-child(3) {
    width: 250px; 
    }

th:nth-child(7),
td:nth-child(7) {
    width: 100px; 
    }

th:nth-child(9),
td:nth-child(9) {
    width: 200px; 
    }